/* PROPERTIES GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #33475b;
  font-family: "Times New Roman",Arial,sans-serif;
  line-height: 2em;
}

a:link{
  text-decoration: none;
  color: #33475b;
}

.clearfix{
  content:"";
  display: table;
  clear: both;
}

.centratura{
  width: 60%;
  margin: 0 20%;
}

/* PRIMA RIGA NAV */

/* Primo nav parte SX */
#topnav{
  background-color: #f5f8fa;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #cbd6e2;
}
.contacts{
  float: left;
  font-size: 22px;
  padding: 10px 0;
}

header li{
  display: inline-block;
  list-style-type: none;
}

.contacts li{
  padding: 0 1rem 0 0;
}
.contacts li:first-child{
  border-right: 2px solid #cbd6e2;
}
.contacts li:last-child{
  padding-left: 1rem;
}
.contacts a{
  color: #33475b;
}


#mainnav{
  background-color: white;
  width: 100%;
  padding: 20px 0;
}

#jumbotron{
  background-image: url("img/jumbotron.png");
  width: 100%;
  min-height: 750px;
  background-position: 50% 75%;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 3px black solid;
}


/* Primo nav parte DX */
.login{
  float: right;
  padding: 10px 0;
}
.login li{
  padding: 0 1rem;
}
.login li:first-child{
  color: lightblue;
  cursor: pointer;
}
a.linklogin {
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 0.755em 2em;;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
a.getfreelink{
  color: #fff;
  background-color: #ff7a59;
  padding: 0.755em 2em;
  border-radius: 3px;
  font-weight: bold;
}

a.linklogin:hover{
  background-color: #fff1ee;
}

a.getfreelink:hover{
  background-color: #ffbcac;
}

/* Secondo nav parte SX */
.logo img{
  width: 100px;
  height: auto;
}

.logo{
  float: left;
  margin-top: 5px;
}

.menunav{
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.menunav li{
  padding: 0 1rem;
}
.menunav i{
  font-size: 25px;
  opacity: .6;
  margin-left: 8px;
}

/* Jumbotron */
.jumbosez{
width: 30%;
letter-spacing: 1px;
padding-top: 12%;
}

.jumbotitle1{
  font-size: 45px;
  font-weight: bold;
}

.jumbotext{
  font-size: 18px;
  margin: 10% 0;
  font-weight: lighter;
}
a.jumbolink{
  color: #fff;
  background-color: #ff7a59;
  padding: 1.5em 2em;
  border-radius: 3px;
  font-weight: bold;
}
.jumbolink:hover{
  background-color: #ffbcac;
}
.jumbotextsmall{
  max-width: 14rem;
  font-size: 14px;
  margin: 10% 0 0 0;
  line-height: 1.2em;
}
/* FINE HEADER */

/* INIZIO MAIN */

/* Prima sezione */
.togethersec{
  width: 100%;
  min-height: 1500px;
  padding: 20px 0;
  background-color: #F5F8FA;
}
.togethergroup{
  width: 45%;
  margin: 0 auto;
  text-align: center;
}
img.rowscolicon{
  width: auto;
  height: 190px;
}

.jumbotitle2{
  font-size: 31px;
  margin-bottom: 20px;
  font-weight: bold;
}
.togethertext{
  font-size: 20px;
  max-width: 100%;
  margin-bottom: 8%;
}
/* dopo il cubo di rubik*/
/* Riga grande */
.featuresrow{
  background-color: white;
  padding: 40px 80px;
  width: 95%;
  margin: 80px 0 20px 2.5%;
}

/* 3 colonne properties */
.featurescol{
  background-color: white;
  padding: 40px 10px;
  width: 30%;
  float: left;
  margin-left: 2.5%;
  text-align: center;
}

/* Parte sinistra riga grande */
.rowsx{
float: left;
width: 25%;
}
.rowsx img{
  width: auto;
  height: 150px;
}

.rowlistsx li{
  text-align: center;
  display: block;
}
.rowlistsx li:last-child{
  padding: 20px 10px;
}

a.orangebtn{
  font-weight: bold;
  border-radius: .1875rem;
  display: inline-block;
  background-color: #ff7a59;
  color: #fff;
  padding: 0.6em 2em;
  font-size: 1em;
}
a.orangebtn:hover{
  background-color: #ffbcac;
}

/* Parte destra riga grande */
.rowdx{
  width: 70%;
  float: left;
  margin-left: 5%;
}

.featuretitle{
  font-size: 22px;
}
.featuretext{
  font-size: 16px;
  opacity: .8;
  padding-top: 10px;
  line-height: 1.3em;
}

h6.popular{
  width: 75%;
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  margin: 26px 0 15px;
}

h6.popular::after{
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    top: 10px;
    width: 100%;
}

.rowlistdx li{
  list-style-position: inside;
  font-size: 18px;
  margin: 0 5% 0 0;
  float: left;
  list-style-image: url("img/orangecheck.png");
}

/* Colonne */
.featurescol p{
  width: 80%;
  text-align: left;
  margin: 10px 10%;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e6ed;
  line-height: 20px;
}

h6.popular2{
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  margin: 26px 0 15px;
}

.collist li{
  padding-left: 5%;
  list-style-position: inside;
  font-size: 18px;
  margin: 0 5% 2% 0;
  list-style-image: url("img/orangecheck.png");
  text-align: left;
}
.collist{
  margin-bottom: 6%;
}

/* SEZIONE Certificazioni */
.certification{
  width: 100%;
  padding: 5% 0;
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.certintroduction{
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.certintroduction h3{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}
.certintroduction p{
  font-size: 20px;
  line-height: 1.2em;
}
/* inizio colonne */
.certificationrow{
  margin-top: 8%;
}

.cell{
  width: 25%;
  padding: 20px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  text-align: center;
  float: left;
}

h6.boldtitle{
  color: #fff;
  font-size: 45px;
  font-weight: bold;
  margin: 5% 0;
}

p.boldtitlep{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.cellb{
  width: 25%;
  padding: 20px;
  border-right: 1px solid white;
  text-align: center;
  float: left;
}

.cellast{
  border-right: 0;
}
/*  SEZIONE SPONSOR INIZIO */

.sponsorsec{
  background-color: #F5F8FA;
  width: 100%;
  padding: 5% 0;
}
.sponsortext{
  width: 30%;
  float: left;
  text-align: left;
}
.subtext{
  font-size: 22px;
  padding-top: 4%;
  letter-spacing: 1px;
  opacity: .9
}
.subtext span{
  font-weight: bold;
}

.sponsorlogos{
  width: 70%;
  float: left;
  padding-left: 15%;
}
.sponsorlogos img{
  width: 110px;
  height: auto;
}
.logocell{
  padding: 0 20px 20px 0;
  float: left;
  text-align: center;
}

.containergrow{
  width: 100%;
  padding: 5% 0;
}

.growingtext{
  width: 42%;
  float: left;
  padding: 10% 0;
  margin-right: 10%;
}

p.smalldescript{
  font-size: 14px;
  margin: 10% 0 0 0;
  line-height: 1.2em;
}

.growigndx{
  width: 45%;
  float: left;
}

.growingdx img{
  width: auto;
  height: 400px;
  margin-left: 10%;
  margin-top: 5%;
}

/* Foooter */

footer{
  width: 100%;
  background-color: #33475b;
  padding: 5% 0 0 0;
}
.quicklink{
  width: 100%;
}

.quicklinkcol{
  width: 25%;
  float: left;
}

.quicklinklist{
  list-style-type: none;
}

.quicklinklist li{
  padding: 2% 0;
}

.quicklinklist h5{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

a.footerlinklighted{
  color: #cbd6e2;
  font-size: 18px;
}
a.footerlinklighted:hover{
  color: #7fd1de;
}
a.selectlink{
  color: #fff;
  font-size: 17px;
  letter-spacing: 0.5px;
}

a.whitebtn{
  text-align: center;
  border-radius: .1875rem;
  display: inline-block;
  background-color: #fff;
  color: #33475b;
  padding: 0.5em 1.1em;
  font-size: 15px;
  font-weight: 500;
  min-width: 5.888rem;
  margin-top: 5%;
}

.socialmedia{
  list-style-type: none;
  list-style-position: inside;
}
.socialmedia li{
  display: inline-block;
  padding: 6% 8% 0 0;
}

.languages{
  width: 100%;
  text-align: center;
  padding-bottom: 3%;
  border-bottom: 1px solid #cbd6e2;
}

.languagelist{
  list-style-type: none;
  list-style-position: inside;
}

.languagelist li{
  display: inline-block;
  padding: 5% 3% 0 0;
}

.languagelist a{
  font-size: 20px;
}
/* Parte copyright e privacy */
.privacy{
  width: 100%;
  color: #cbd6e2;
  padding: 4% 0 2% 0;
}

.copyright{
  float: left;
}
.privacydx{
  width: 40%;
  float: right;
}

.privacylist li{
  display: inline-block;
  float: right;
  padding: 0 8%;
}
.privacylist a{
  font-size: 20px;
  font-weight: bold;
}
