/* PROPERTIES GENERALI */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  color: #33475b;
  font-family: "Times New Roman",Arial,sans-serif;
  line-height: 1.611em;
}

a:link{
  text-decoration: none;
  color: #33475b;
}

.clearfix{
  content:"";
  display: table;
  clear: both;
}

.centratura{
  width: 60%;
  margin: 0 20%;
}

/* PRIMA RIGA NAV */

/* Primo nav parte SX */
#topnav{
  background-color: #f5f8fa;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid #cbd6e2;
}
.contacts{
  float: left;
  font-size: 22px;
  padding: 10px 0;
}

li{
  display: inline-block;
}

.contacts li{
  padding: 0 1rem 0 0;
}
.contacts li:first-child{
  border-right: 2px solid #cbd6e2;
}
.contacts li:last-child{
  padding-left: 1rem;
}
.contacts a{
  color: #33475b;
}


#mainnav{
  background-color: white;
  width: 100%;
  padding: 20px 0;
}

#jumbotron{
  background-color: pink;
  width: 100%;
  min-height: 600px;
}

/* Primo nav parte DX */
.login{
  float: right;
  padding: 10px 0;
}
.login li{
  padding: 0 1rem;
}
.login li:first-child{
  color: lightblue;
  cursor: pointer;
}
a.linklogin {
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 0.755em 2em;;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
}
a.getfreelink{
  color: #fff;
  background-color: #ff7a59;
  padding: 0.755em 2em;
  border-radius: 3px;
  font-weight: bold;
}

a.linklogin:hover{
  background-color: #fff1ee;
}

a.getfreelink:hover{
  background-color: #ffbcac;
}

/* Secondo nav parte SX */
.logo img{
  width: 100px;
  height: auto;
}

.logo{
  float: left;
  margin-top: 5px;
}

.menunav{
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}
.menunav li{
  padding: 0 1rem;
}
.menunav i{
  font-size: 25px;
  opacity: .6;
  margin-left: 8px;
}
